---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mi Biografía">
	<main class="container biography-page">
		<nav class="nav-menu">
			<a href="/" class="nav-link">Volver al Inicio</a>
		</nav>
		<div class="card biography-card">
			<div class="card-content">
				<h1>Mi Biografía</h1>
				<div class="author-info">
					<p>Soy Alisha, una escritora trans Asperger. Mi pasión es la libertad y cada una de mis obras está entretejida con experiencias personales que han moldeado mi vida. A través de mis libros, comparto una parte íntima de mi perspectiva única del mundo, combinando mis vivencias como persona trans y neurodivergente para crear historias que resuenan con autenticidad y verdad.</p>
				</div>
			</div>
		</div>
	</main>
</Layout>